
<div class="d-flex justify-content-center pt-3">
	<div style="width:90vw">
		
		<h1 class="py-4"> Búsqueda </h1>

		<app-tabla-pelicula (movieSelected)="this.onMovieSelected($event)" > </app-tabla-pelicula>



		<div class="container">
			<div class="row actions-section">

				<div class="col mt-3">
					<app-detalle-pelicula [pelicula]="this.pelicula"> </app-detalle-pelicula>
				</div>

				<div class="col  d-flex align-items-stretch mt-3">
					<div class="card">
						<div class="card-body d-flex flex-column">
							<h5 class="card-title">Modificar</h5>
							<p class="card-text">Realice las modificaciones que desee. Al finalizar, podrá guardar los cambios realizados</p>
							<button class="btn btn-outline-primary mt-auto" (click)="this.onModify()">Modificar</button>
						</div>
					</div>
				</div>

				<div class="col  d-flex align-items-stretch mt-3">
					<div class="card">
						<div class="card-body d-flex flex-column">
							<h5 class="card-title">Eliminar</h5>
							<p class="card-text">
								Se eliminará la película seleccionada
							</p>

							<button  class="btn btn-outline-primary mt-auto" (click)="this.onDelete()">Eliminar</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>