<div *ngIf="this.pelicula.id; else initialState" class="container card card-stepper details-container d-flex flex-row" style="width: 40rem;">
	<div class="d-flex flex-column me-5 justify-content-center" style="flex-direction: column;">
		<strong class="d-inline-block mb-2 text-primary"> {{ this.pelicula.tipo }} </strong>

		<h3 class="mb-0" > 
			{{ this.pelicula.nombre }} 
		</h3>

		<div class="mb-1 text-muted">
			Estreno: {{ this.movieDate(this.pelicula.fechaEstreno) | date: 'yyyy-MM-dd' }} 
		</div>

			<p class="card-text">
			Visualizaciones: {{ this.pelicula.cantidadPublico | number}} 
		</p>
	</div>
	

	<img class="align-self-end img-fluid movie-img" src="{{ this.pelicula.fotoPelicula }}">
</div>


<ng-template #initialState>
	<div class="container card card-stepper details-container d-flex justify-content-center align-items-center text-muted" style="width: 40rem;">
		<p>Detalle</p>
		<h1>Seleccione una película</h1>
	</div>
</ng-template>